*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo{
    display: flex;
    border-radius: 50px;
    justify-content: center;
}
.logo img{
    margin-top: 10%;
    width: 100px;
}
.logo-text p{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    width: 200px;
    margin: auto;
}